.page-title{
  display: flex;
  justify-content: center;
  margin-top: 16px  ;
}
.content{
  display: flex;
  justify-content: center;
}

.design1{
  color: aliceblue;
  background-color: darkslateblue;
}

.design2{
  background-color: yellow;
  color: darkkhaki;
}

.design3{
  background-color: aliceblue;
  color: darkslateblue;
}
